@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Birthstone&family=Inconsolata:wght@500&display=swap');
body{
background-color: cornsilk;
}
.name{
font-size: 280%;
font-family: 'Anton', sans-serif;
}
.name1{
font-size: 120%;   
}
a{
    text-decoration: none;
    font-family: 'Special Elite', cursive;
    color: black;
    text-align: center;
}
table{
    width: 1500px;
    height: 700px;
    border: black;
    text-align: center;
    font-size: 20px;
}

ul{
    text-align: center;
    list-style: inside;
}
td:hover{
    border: 2px inset black;
    height: 600px;
    width: 400px;
}
td{
    text-align: center;
    font-family: 'Special Elite', cursive;

}








